<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
</head>
<body>
    <h1>Lista de Livros</h1>
    <ul id="lista">
        {% for book in books %}
            <li>
                {{ book.title }} - 
                {% if book.authors %}
                    <a href="{% url 'autor' book.authors.id %}">{{ book.authors.name }}.</a>
                {% else %}
                    Autor não disponível.
                {% endif %}
                {{ book.year }}.
            </li>
        {% endfor %}
    </ul>
</body>
</html>